.elementor-7637
  .elementor-element.elementor-element-7e221f16:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-7637
  .elementor-element.elementor-element-7e221f16
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../images/Picture7-1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-7637
  .elementor-element.elementor-element-7e221f16
  > .elementor-background-overlay {
  background-color: #563A9C;
  opacity: 0.9;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-7637 .elementor-element.elementor-element-7e221f16,
.elementor-7637
  .elementor-element.elementor-element-7e221f16
  > .elementor-background-overlay {
  border-radius: 0px 0px 0px 0px;
}
.elementor-7637 .elementor-element.elementor-element-7e221f16 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 30px 0px 30px 0px;
}
.elementor-bc-flex-widget
  .elementor-7637
  .elementor-element.elementor-element-26d9d543.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-7637
  .elementor-element.elementor-element-26d9d543.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-7637
  .elementor-element.elementor-element-6a2187
  .consulting-custom-title {
  font-size: 40px;
  color: #ffffff;
}
.elementor-7637
  .elementor-element.elementor-element-6a2187
  > .elementor-widget-container {
  margin: 0px 0px -6px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}
.elementor-7637 .elementor-element.elementor-element-5f413f90 {
  columns: 1;
  color: #e6d3d3;
  font-size: 16px;
}
.elementor-7637
  .elementor-element.elementor-element-4e45d389:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-7637
  .elementor-element.elementor-element-4e45d389
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #563A9C;
}
.elementor-7637 .elementor-element.elementor-element-4e45d389 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 30px 0px 30px 0px;
}
.elementor-7637
  .elementor-element.elementor-element-4e45d389
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-7637
  .elementor-element.elementor-element-1376cab
  .hfe-site-logo-container,
.elementor-7637
  .elementor-element.elementor-element-1376cab
  .hfe-caption-width
  figcaption {
  text-align: left;
}
.elementor-7637
  .elementor-element.elementor-element-1376cab
  .hfe-site-logo
  .hfe-site-logo-container
  img {
  width: 85%;
}
.elementor-7637
  .elementor-element.elementor-element-1376cab
  .hfe-site-logo-container
  .hfe-site-logo-img {
  border-style: none;
}
.elementor-7637
  .elementor-element.elementor-element-1376cab
  .widget-image-caption {
  margin-top: 0px;
  margin-bottom: 0px;
}
.elementor-7637 .elementor-element.elementor-element-c7ad879 {
  color: #e7e7e7;
  font-size: 13px;
}
.elementor-7637 .elementor-element.elementor-element-5ca8111 {
  --divider-border-style: solid;
  --divider-color: #ffffff47;
  --divider-border-width: 1px;
}
.elementor-7637
  .elementor-element.elementor-element-5ca8111
  .elementor-divider-separator {
  width: 100%;
}
.elementor-7637
  .elementor-element.elementor-element-5ca8111
  .elementor-divider {
  padding-block-start: 2px;
  padding-block-end: 2px;
}
.elementor-7637
  .elementor-element.elementor-element-14a0751
  .elementor-repeater-item-38028cc.elementor-social-icon {
  background-color: #cf3b96;
}
.elementor-7637
  .elementor-element.elementor-element-14a0751
  .elementor-repeater-item-38028cc.elementor-social-icon
  i {
  color: #ffffff;
}
.elementor-7637
  .elementor-element.elementor-element-14a0751
  .elementor-repeater-item-38028cc.elementor-social-icon
  svg {
  fill: #ffffff;
}
.elementor-7637 .elementor-element.elementor-element-14a0751 {
  --grid-template-columns: repeat(0, auto);
  --icon-size: 17px;
  --grid-column-gap: 5px;
  --grid-row-gap: 0px;
}
.elementor-7637
  .elementor-element.elementor-element-14a0751
  .elementor-widget-container {
  text-align: left;
}
.elementor-7637
  .elementor-element.elementor-element-fde15f8
  .elementor-heading-title {
  color: #ffffff;
  font-size: 24px;
}
.elementor-7637
  .elementor-element.elementor-element-fde15f8
  > .elementor-widget-container {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #ffffff70;
}
.elementor-7637 .elementor-element.elementor-element-afce700 {
  margin-top: -15px;
  margin-bottom: 0px;
}
.elementor-7637 .elementor-element.elementor-element-34515eb {
  color: #e7e7e7;
  font-size: 13px;
}
.elementor-7637
  .elementor-element.elementor-element-91530bc
  .elementor-icon-list-icon
  i {
  color: #db2017;
  transition: color 0.3s;
}
.elementor-7637
  .elementor-element.elementor-element-91530bc
  .elementor-icon-list-icon
  svg {
  fill: #db2017;
  transition: fill 0.3s;
}
.elementor-7637
  .elementor-element.elementor-element-91530bc
  .elementor-icon-list-item:hover
  .elementor-icon-list-icon
  i {
  color: #ffffff;
}
.elementor-7637
  .elementor-element.elementor-element-91530bc
  .elementor-icon-list-item:hover
  .elementor-icon-list-icon
  svg {
  fill: #ffffff;
}
.elementor-7637 .elementor-element.elementor-element-91530bc {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}
.elementor-7637
  .elementor-element.elementor-element-91530bc
  .elementor-icon-list-text {
  color: #ffffff;
  transition: color 0.3s;
}
.elementor-7637
  .elementor-element.elementor-element-91530bc
  .elementor-icon-list-item:hover
  .elementor-icon-list-text {
  color: #db2017;
}
.elementor-7637
  .elementor-element.elementor-element-91530bc
  > .elementor-widget-container {
  margin: -12px 0px 0px 0px;
}
.elementor-7637 .elementor-element.elementor-element-46889e5 {
  color: #ffffff;
}
.elementor-7637 .elementor-element.elementor-element-a6a3af7 {
  color: #e7e7e7;
  font-size: 13px;
}
.elementor-7637
  .elementor-element.elementor-element-2c9dda1
  .elementor-icon-list-icon
  i {
  color: #db2017;
  transition: color 0.3s;
}
.elementor-7637
  .elementor-element.elementor-element-2c9dda1
  .elementor-icon-list-icon
  svg {
  fill: #db2017;
  transition: fill 0.3s;
}
.elementor-7637
  .elementor-element.elementor-element-2c9dda1
  .elementor-icon-list-item:hover
  .elementor-icon-list-icon
  i {
  color: #ffffff;
}
.elementor-7637
  .elementor-element.elementor-element-2c9dda1
  .elementor-icon-list-item:hover
  .elementor-icon-list-icon
  svg {
  fill: #ffffff;
}
.elementor-7637 .elementor-element.elementor-element-2c9dda1 {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}
.elementor-7637
  .elementor-element.elementor-element-2c9dda1
  .elementor-icon-list-text {
  color: #ffffff;
  transition: color 0.3s;
}
.elementor-7637
  .elementor-element.elementor-element-2c9dda1
  .elementor-icon-list-item:hover
  .elementor-icon-list-text {
  color: #db2017;
}
.elementor-7637
  .elementor-element.elementor-element-2c9dda1
  > .elementor-widget-container {
  margin: -12px 0px 0px 0px;
}
.elementor-7637 .elementor-element.elementor-element-bbf6f84 {
  color: #ffffff;
}
.elementor-7637
  .elementor-element.elementor-element-5b84ef1
  .elementor-heading-title {
  color: #ffffff;
  font-size: 24px;
}
.elementor-7637
  .elementor-element.elementor-element-5b84ef1
  > .elementor-widget-container {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #ffffff70;
}
.elementor-7637
  .elementor-element.elementor-element-ab10891
  .menu-item
  a.hfe-menu-item {
  padding-left: 15px;
  padding-right: 15px;
}
.elementor-7637
  .elementor-element.elementor-element-ab10891
  .menu-item
  a.hfe-sub-menu-item {
  padding-left: calc(15px + 20px);
  padding-right: 15px;
}
.elementor-7637
  .elementor-element.elementor-element-ab10891
  .hfe-nav-menu__layout-vertical
  .menu-item
  ul
  ul
  a.hfe-sub-menu-item {
  padding-left: calc(15px + 40px);
  padding-right: 15px;
}
.elementor-7637
  .elementor-element.elementor-element-ab10891
  .hfe-nav-menu__layout-vertical
  .menu-item
  ul
  ul
  ul
  a.hfe-sub-menu-item {
  padding-left: calc(15px + 60px);
  padding-right: 15px;
}
.elementor-7637
  .elementor-element.elementor-element-ab10891
  .hfe-nav-menu__layout-vertical
  .menu-item
  ul
  ul
  ul
  ul
  a.hfe-sub-menu-item {
  padding-left: calc(15px + 80px);
  padding-right: 15px;
}
.elementor-7637
  .elementor-element.elementor-element-ab10891
  .menu-item
  a.hfe-menu-item,
.elementor-7637
  .elementor-element.elementor-element-ab10891
  .menu-item
  a.hfe-sub-menu-item {
  padding-top: 15px;
  padding-bottom: 15px;
}
.elementor-7637 .elementor-element.elementor-element-ab10891 a.hfe-menu-item,
.elementor-7637
  .elementor-element.elementor-element-ab10891
  a.hfe-sub-menu-item {
  font-size: 13px;
}
.elementor-7637
  .elementor-element.elementor-element-ab10891
  .menu-item
  a.hfe-menu-item,
.elementor-7637
  .elementor-element.elementor-element-ab10891
  .sub-menu
  a.hfe-sub-menu-item {
  color: #e7e7e7;
}
.elementor-7637
  .elementor-element.elementor-element-ab10891
  .menu-item
  a.hfe-menu-item:hover,
.elementor-7637
  .elementor-element.elementor-element-ab10891
  .sub-menu
  a.hfe-sub-menu-item:hover,
.elementor-7637
  .elementor-element.elementor-element-ab10891
  .menu-item.current-menu-item
  a.hfe-menu-item,
.elementor-7637
  .elementor-element.elementor-element-ab10891
  .menu-item
  a.hfe-menu-item.highlighted,
.elementor-7637
  .elementor-element.elementor-element-ab10891
  .menu-item
  a.hfe-menu-item:focus {
  background-color: #00000047;
}
.elementor-7637
  .elementor-element.elementor-element-ab10891
  .menu-item.current-menu-item
  a.hfe-menu-item,
.elementor-7637
  .elementor-element.elementor-element-ab10891
  .menu-item.current-menu-ancestor
  a.hfe-menu-item {
  background-color: #00000047;
}
.elementor-7637 .elementor-element.elementor-element-ab10891 .sub-menu,
.elementor-7637 .elementor-element.elementor-element-ab10891 nav.hfe-dropdown,
.elementor-7637
  .elementor-element.elementor-element-ab10891
  nav.hfe-dropdown-expandible,
.elementor-7637
  .elementor-element.elementor-element-ab10891
  nav.hfe-dropdown
  .menu-item
  a.hfe-menu-item,
.elementor-7637
  .elementor-element.elementor-element-ab10891
  nav.hfe-dropdown
  .menu-item
  a.hfe-sub-menu-item {
  background-color: #00000017;
}
.elementor-7637
  .elementor-element.elementor-element-ab10891
  .sub-menu
  a.hfe-sub-menu-item:hover,
.elementor-7637
  .elementor-element.elementor-element-ab10891
  nav.hfe-dropdown
  li
  a.hfe-menu-item:hover,
.elementor-7637
  .elementor-element.elementor-element-ab10891
  nav.hfe-dropdown
  li
  a.hfe-sub-menu-item:hover,
.elementor-7637
  .elementor-element.elementor-element-ab10891
  nav.hfe-dropdown-expandible
  li
  a.hfe-menu-item:hover,
.elementor-7637
  .elementor-element.elementor-element-ab10891
  nav.hfe-dropdown-expandible
  li
  a.hfe-sub-menu-item:hover {
  background-color: #00000047;
}
.elementor-7637
  .elementor-element.elementor-element-ab10891
  .sub-menu
  .menu-item.current-menu-item
  a.hfe-sub-menu-item.hfe-sub-menu-item-active,
.elementor-7637
  .elementor-element.elementor-element-ab10891
  nav.hfe-dropdown
  .menu-item.current-menu-item
  a.hfe-menu-item,
.elementor-7637
  .elementor-element.elementor-element-ab10891
  nav.hfe-dropdown
  .menu-item.current-menu-ancestor
  a.hfe-menu-item,
.elementor-7637
  .elementor-element.elementor-element-ab10891
  nav.hfe-dropdown
  .sub-menu
  .menu-item.current-menu-item
  a.hfe-sub-menu-item.hfe-sub-menu-item-active {
  color: #ffffff;
}
.elementor-7637
  .elementor-element.elementor-element-ab10891
  .sub-menu
  .menu-item.current-menu-item
  a.hfe-sub-menu-item.hfe-sub-menu-item-active,
.elementor-7637
  .elementor-element.elementor-element-ab10891
  nav.hfe-dropdown
  .menu-item.current-menu-item
  a.hfe-menu-item,
.elementor-7637
  .elementor-element.elementor-element-ab10891
  nav.hfe-dropdown
  .menu-item.current-menu-ancestor
  a.hfe-menu-item,
.elementor-7637
  .elementor-element.elementor-element-ab10891
  nav.hfe-dropdown
  .sub-menu
  .menu-item.current-menu-item
  a.hfe-sub-menu-item.hfe-sub-menu-item-active {
  background-color: #00000047;
}
.elementor-7637
  .elementor-element.elementor-element-ab10891
  .sub-menu
  a.hfe-sub-menu-item,
.elementor-7637
  .elementor-element.elementor-element-ab10891
  nav.hfe-dropdown
  li
  a.hfe-menu-item,
.elementor-7637
  .elementor-element.elementor-element-ab10891
  nav.hfe-dropdown
  li
  a.hfe-sub-menu-item,
.elementor-7637
  .elementor-element.elementor-element-ab10891
  nav.hfe-dropdown-expandible
  li
  a.hfe-menu-item,
.elementor-7637
  .elementor-element.elementor-element-ab10891
  nav.hfe-dropdown-expandible
  li
  a.hfe-sub-menu-item {
  padding-top: 15px;
  padding-bottom: 15px;
}
.elementor-7637
  .elementor-element.elementor-element-ab10891
  .sub-menu
  li.menu-item:not(:last-child),
.elementor-7637
  .elementor-element.elementor-element-ab10891
  nav.hfe-dropdown
  li.menu-item:not(:last-child),
.elementor-7637
  .elementor-element.elementor-element-ab10891
  nav.hfe-dropdown-expandible
  li.menu-item:not(:last-child) {
  border-bottom-style: solid;
  border-bottom-color: #c4c4c4;
  border-bottom-width: 1px;
}
.elementor-7637
  .elementor-element.elementor-element-192c88b
  .elementor-heading-title {
  color: #ffffff;
  font-size: 24px;
}
.elementor-7637
  .elementor-element.elementor-element-192c88b
  > .elementor-widget-container {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #ffffff70;
}
.elementor-7637 .elementor-element.elementor-element-ba758a1 {
  color: #e7e7e7;
  font-size: 13px;
}
.elementor-7637
  .elementor-element.elementor-element-4eda945d:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-7637
  .elementor-element.elementor-element-4eda945d
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #e31e25;
}
.elementor-7637 .elementor-element.elementor-element-4eda945d {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-7637
  .elementor-element.elementor-element-4eda945d
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-7637 .elementor-element.elementor-element-2251ae8b {
  color: #ffffff;
}
.elementor-7637 .elementor-element.elementor-element-60fc44a0 {
  text-align: right;
  color: #ffffff;
}
@media (min-width: 768px) {
  .elementor-7637 .elementor-element.elementor-element-7b8ec1f1 {
    width: 100%;
  }
  .elementor-7637 .elementor-element.elementor-element-26d9d543 {
    width: 32.712%;
  }
  .elementor-7637 .elementor-element.elementor-element-50ab6d25 {
    width: 66.288%;
  }
  .elementor-7637 .elementor-element.elementor-element-18bd55f {
    width: 21.83%;
  }
  .elementor-7637 .elementor-element.elementor-element-433ad52 {
    width: 41.586%;
  }
  .elementor-7637 .elementor-element.elementor-element-7c5a749 {
    width: 15.288%;
  }
  .elementor-7637 .elementor-element.elementor-element-a99e5bc {
    width: 21.257%;
  }
  .elementor-7637 .elementor-element.elementor-element-5aba3a5b {
    width: 62.116%;
  }
  .elementor-7637 .elementor-element.elementor-element-1cff5118 {
    width: 37.839%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-7637 .elementor-element.elementor-element-7b8ec1f1 {
    width: 100%;
  }
  .elementor-7637 .elementor-element.elementor-element-26d9d543 {
    width: 33%;
  }
  .elementor-7637 .elementor-element.elementor-element-50ab6d25 {
    width: 66%;
  }
}
