.elementor-1071 .elementor-element.elementor-element-75c520d {
  margin-top: -141px;
  margin-bottom: 0px;
}
.elementor-1071 .elementor-element.elementor-element-6d11ffb {
  margin-top: -140px;
  margin-bottom: 0px;
}
.elementor-1071
  .elementor-element.elementor-element-8066fce:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1071
  .elementor-element.elementor-element-8066fce
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #6A42C2;
}
.elementor-1071 .elementor-element.elementor-element-8066fce,
.elementor-1071
  .elementor-element.elementor-element-8066fce
  > .elementor-background-overlay {
  border-radius: 0px 0px 0px 0px;
}
.elementor-1071 .elementor-element.elementor-element-8066fce {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: -10px;
  margin-bottom: 0px;
  padding: 30px 0px 10px 0px;
}
.elementor-1071
  .elementor-element.elementor-element-8066fce
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1071 .elementor-element.elementor-element-80678bf {
  padding: 0px 0px 0px 0px;
}
.elementor-1071
  .elementor-element.elementor-element-806863d
  .consulting-custom-title {
  color: #ffffff;
}
.elementor-1071
  .elementor-element.elementor-element-806863d
  > .elementor-widget-container {
  margin: 20px 0px 0px 0px;
}
.elementor-1071
  .elementor-element.elementor-element-9a61b1c:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1071
  .elementor-element.elementor-element-9a61b1c
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-1071 .elementor-element.elementor-element-9a61b1c,
.elementor-1071
  .elementor-element.elementor-element-9a61b1c
  > .elementor-background-overlay {
  border-radius: 0px 0px 0px 0px;
}
.elementor-1071 .elementor-element.elementor-element-9a61b1c {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 56px 0px 0px 0px;
}
.elementor-1071
  .elementor-element.elementor-element-9a61b1c
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1071
  .elementor-element.elementor-element-8a4bbaa
  > .elementor-widget-container {
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}
.elementor-1071
  .elementor-element.elementor-element-69ca99a
  > .elementor-widget-container {
  margin: 0px 0px 24px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}
.elementor-1071
  .elementor-element.elementor-element-85eb156
  > .elementor-widget-container {
  margin: 0px 0px 24px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}
.elementor-1071
  .elementor-element.elementor-element-e0d0759
  > .elementor-widget-container {
  margin: 0px 0px 24px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}
.elementor-1071
  .elementor-element.elementor-element-9f68d8f
  > .elementor-widget-container {
  margin: 0px 0px 24px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}
.elementor-1071
  .elementor-element.elementor-element-b859692
  > .elementor-widget-container {
  margin: 0px 0px 24px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}
.elementor-1071
  .elementor-element.elementor-element-ef4ecf3
  > .elementor-widget-container {
  margin: 0px 0px 24px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}
.elementor-1071
  .elementor-element.elementor-element-5d0590a:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1071
  .elementor-element.elementor-element-5d0590a
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../images/high-voltage-post-high-voltage-tower.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-1071 .elementor-element.elementor-element-5d0590a,
.elementor-1071
  .elementor-element.elementor-element-5d0590a
  > .elementor-background-overlay {
  border-radius: 0px 0px 0px 0px;
}
.elementor-1071 .elementor-element.elementor-element-5d0590a {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 40px 40px 40px 40px;
}
.elementor-1071
  .elementor-element.elementor-element-5d0590a
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1071
  .elementor-element.elementor-element-7b48a73:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-1071
  .elementor-element.elementor-element-7b48a73
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #002e5be0;
}
.elementor-1071
  .elementor-element.elementor-element-7b48a73
  > .elementor-element-populated,
.elementor-1071
  .elementor-element.elementor-element-7b48a73
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-1071
  .elementor-element.elementor-element-7b48a73
  > .elementor-background-slideshow {
  border-radius: 0px 0px 0px 0px;
}
.elementor-1071
  .elementor-element.elementor-element-7b48a73
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 52px 30px 50px 40px;
}
.elementor-1071
  .elementor-element.elementor-element-7b48a73
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1071 .elementor-element.elementor-element-41c23e7 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-1071
  .elementor-element.elementor-element-d0dc683
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-1071
  .elementor-element.elementor-element-d0dc683
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-1071
  .elementor-element.elementor-element-9ae7fd5
  .ce_cta__content__title {
  font-size: 22px;
  line-height: 35px;
  color: #ffffff;
}
.elementor-1071
  .elementor-element.elementor-element-9ae7fd5
  .ce_cta__content__text {
  color: #ffffff;
}
.elementor-1071
  .elementor-element.elementor-element-9ae7fd5
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 50px 0px 50px 0px;
  border-radius: 0px 0px 0px 0px;
}
.elementor-1071 .elementor-element.elementor-element-9ae7fd5 {
  width: var(--container-widget-width, 100%);
  max-width: 100%;
  --container-widget-width: 100%;
  --container-widget-flex-grow: 0;
  top: 46px;
}
body:not(.rtl) .elementor-1071 .elementor-element.elementor-element-9ae7fd5 {
  left: 0px;
}
body.rtl .elementor-1071 .elementor-element.elementor-element-9ae7fd5 {
  right: 0px;
}
.elementor-1071 .elementor-element.elementor-element-7dd81ee,
.elementor-1071
  .elementor-element.elementor-element-7dd81ee
  > .elementor-background-overlay {
  border-radius: 0px 0px 0px 0px;
}
.elementor-1071 .elementor-element.elementor-element-7dd81ee {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 57px 0px 59px 0px;
}
.elementor-1071
  .elementor-element.elementor-element-7dd81ee
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1071
  .elementor-element.elementor-element-806a0e2
  .consulting-custom-title {
  font-size: 36px;
}
.elementor-1071
  .elementor-element.elementor-element-806a0e2
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}
.elementor-1071
  .elementor-element.elementor-element-806a72c
  > .elementor-widget-container {
  margin: 15px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}
.elementor-1071
  .elementor-element.elementor-element-27f910a
  .ue_post_carousel_item {
  border-radius: 20px;
}
.elementor-1071
  .elementor-element.elementor-element-27f910a
  .uc_image_carousel_content {
  padding: 30px 30px 30px 30px;
  background-color: #e8e8e8;
  min-height: 300px;
}
.elementor-1071
  .elementor-element.elementor-element-27f910a
  .ue_post_category
  a {
  color: #9a9a9a;
}
.elementor-1071 .elementor-element.elementor-element-27f910a .ue_post_category {
  margin-top: 0px;
}
.elementor-1071 .elementor-element.elementor-element-27f910a .ue_post_date {
  color: #9a9a9a;
  margin-top: 0px;
}
.elementor-1071 .elementor-element.elementor-element-27f910a .uc_post_title {
  color: #563A9C;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}
.elementor-1071 .elementor-element.elementor-element-27f910a .ue_post_intro {
  color: #747474;
  margin-top: 10px;
}
.elementor-1071 .elementor-element.elementor-element-27f910a .uc_more_btn {
  padding: 10px 20px 10px 20px;
  border-radius: 0px;
  background-color: #563A9C;
  color: #ffffff;
  margin-top: 20px;
}
.elementor-1071
  .elementor-element.elementor-element-27f910a
  .uc_more_btn:hover {
  background-color: #da251d;
  color: #ffffff;
}
.elementor-1071 .elementor-element.elementor-element-27f910a .owl-dot {
  width: 8px;
  height: 8px;
  background-color: #c6c6c6;
  margin: 0px 5px;
}
.elementor-1071 .elementor-element.elementor-element-27f910a .owl-dot.active {
  background-color: #000000;
}
.elementor-1071 .elementor-element.elementor-element-27f910a .owl-dots {
  margin-top: 20px;
}
.elementor-1071
  .elementor-element.elementor-element-27f910a
  .owl-carousel
  .owl-nav
  .owl-next,
.elementor-1071
  .elementor-element.elementor-element-27f910a
  .owl-carousel
  .owl-nav
  .owl-prev {
  top: 160px;
  border-radius: 0px;
  width: 62px;
  height: 62px;
  line-height: 62px;
  font-size: 24px;
  background-color: #ffffff;
  color: #000000;
}
.elementor-1071
  .elementor-element.elementor-element-27f910a
  .owl-carousel
  .owl-nav
  .owl-next:hover,
.elementor-1071
  .elementor-element.elementor-element-27f910a
  .owl-carousel
  .owl-nav
  .owl-prev:hover {
  background-color: #000000;
  color: #ffffff;
}
.elementor-1071
  .elementor-element.elementor-element-90c075c
  .consulting-custom-title {
  font-size: 36px;
}
.elementor-1071
  .elementor-element.elementor-element-90c075c
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}
.elementor-1071
  .elementor-element.elementor-element-b34d7ab
  > .elementor-widget-container {
  margin: 15px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}
.elementor-1071
  .elementor-element.elementor-element-ff2a4d8
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-1071
  .elementor-element.elementor-element-a26daa8
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-1071
  .elementor-element.elementor-element-806d7f4:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1071
  .elementor-element.elementor-element-806d7f4
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../images/sun-setting-silhouette-electricity-pylons.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-1071
  .elementor-element.elementor-element-806d7f4
  > .elementor-background-overlay {
  background-color: #563A9C;
  opacity: 0.9;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1071 .elementor-element.elementor-element-806d7f4,
.elementor-1071
  .elementor-element.elementor-element-806d7f4
  > .elementor-background-overlay {
  border-radius: 0px 0px 0px 0px;
}
.elementor-1071 .elementor-element.elementor-element-806d7f4 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-1071
  .elementor-element.elementor-element-806f971
  .consulting-custom-title {
  font-size: 36px;
  color: #ffffff;
}
.elementor-1071
  .elementor-element.elementor-element-7efaeb1
  .consulting-custom-title {
  font-size: 30px;
  color: #db2017;
}
.elementor-1071
  .elementor-element.elementor-element-7efaeb1
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}
.elementor-1071
  .elementor-element.elementor-element-d89a40c
  > .elementor-element-populated,
.elementor-1071
  .elementor-element.elementor-element-d89a40c
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-1071
  .elementor-element.elementor-element-d89a40c
  > .elementor-background-slideshow {
  border-radius: 0px 0px 0px 0px;
}
.elementor-1071
  .elementor-element.elementor-element-d89a40c
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 32px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 20px 0px 0px;
}
.elementor-1071
  .elementor-element.elementor-element-d89a40c
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1071
  .elementor-element.elementor-element-8e59301
  > .elementor-widget-container {
  margin: 0px 0px 13px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}
.elementor-1071
  .elementor-element.elementor-element-f11c554
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
.elementor-1071
  .elementor-element.elementor-element-a18576e
  > .elementor-element-populated,
.elementor-1071
  .elementor-element.elementor-element-a18576e
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-1071
  .elementor-element.elementor-element-a18576e
  > .elementor-background-slideshow {
  border-radius: 0px 0px 0px 0px;
}
.elementor-1071
  .elementor-element.elementor-element-a18576e
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 32px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 15px 0px 0px;
}
.elementor-1071
  .elementor-element.elementor-element-a18576e
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1071
  .elementor-element.elementor-element-ce312f2
  > .elementor-widget-container {
  margin: 0px 0px 13px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}
.elementor-1071
  .elementor-element.elementor-element-f59998f:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-1071
  .elementor-element.elementor-element-f59998f
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #563A9C;
}
.elementor-1071
  .elementor-element.elementor-element-f59998f
  > .elementor-element-populated
  > .elementor-background-overlay {
  background-image: url("../images/P1010018.jpg");
  background-size: cover;
  opacity: 0.1;
}
.elementor-1071
  .elementor-element.elementor-element-f59998f
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0px 30px 0px 40px;
}
.elementor-1071
  .elementor-element.elementor-element-f59998f
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1071
  .elementor-element.elementor-element-05baf00
  .consulting-custom-title {
  font-size: 30px;
  color: #ffffff;
}
.elementor-1071
  .elementor-element.elementor-element-05baf00
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}
.elementor-1071
  .elementor-element.elementor-element-415f607
  > .elementor-widget-container {
  margin: 0px 0px 13px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}
.elementor-1071 .elementor-element.elementor-element-3c1795a {
  color: #e1e1e1;
}
.elementor-1071
  .elementor-element.elementor-element-66bb2fe
  .consulting-custom-title {
  font-size: 26px;
  color: #ffffff;
}
.elementor-1071
  .elementor-element.elementor-element-66bb2fe
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}
.elementor-1071
  .elementor-element.elementor-element-8edf2bb
  > .elementor-widget-container {
  margin: 0px 0px 13px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}
.elementor-1071 .elementor-element.elementor-element-2a5c632 {
  color: #ededed;
}
.elementor-1071 .elementor-element.elementor-element-d3c8d32 {
  padding: 30px 0px 30px 0px;
}
.elementor-1071
  .elementor-element.elementor-element-82dcf1b:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-1071
  .elementor-element.elementor-element-82dcf1b
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../images/Picture1-1.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-1071
  .elementor-element.elementor-element-82dcf1b
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-1071
  .elementor-element.elementor-element-82dcf1b
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1071
  .elementor-element.elementor-element-bf6c628
  > .elementor-widget-container {
  padding: 20px 0px 20px 20px;
}
.elementor-1071
  .elementor-element.elementor-element-0fb4b78
  > .elementor-widget-container {
  padding: 20px 20px 20px 0px;
}
.elementor-1071
  .elementor-element.elementor-element-db9a295:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-1071
  .elementor-element.elementor-element-db9a295
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../images/sun-setting-silhouette-electricity-pylons.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-1071
  .elementor-element.elementor-element-db9a295
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-1071
  .elementor-element.elementor-element-db9a295
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1071
  .elementor-element.elementor-element-5f0c2ea:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1071
  .elementor-element.elementor-element-5f0c2ea
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f4f4f4;
}
.elementor-1071 .elementor-element.elementor-element-5f0c2ea {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 30px 0px 0px 0px;
}
.elementor-1071
  .elementor-element.elementor-element-5f0c2ea
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1071
  .elementor-element.elementor-element-c7ab5e2
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-1071
  .elementor-element.elementor-element-eab7e8e
  .consulting-custom-title {
  color: #202020;
}
.elementor-1071
  .elementor-element.elementor-element-eab7e8e
  > .elementor-widget-container {
  margin: 0px 0px 41px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}
.elementor-1071 .elementor-element.elementor-element-6fb7ca8 {
  --divider-border-style: double;
  --divider-color: var(--e-global-color-secondary);
  --divider-border-width: 5px;
}
.elementor-1071
  .elementor-element.elementor-element-6fb7ca8
  .elementor-divider-separator {
  width: 3%;
  margin: 0 auto;
  margin-center: 0;
}
.elementor-1071
  .elementor-element.elementor-element-6fb7ca8
  .elementor-divider {
  text-align: center;
  padding-block-start: 15px;
  padding-block-end: 15px;
}
.elementor-1071
  .elementor-element.elementor-element-6fb7ca8
  > .elementor-widget-container {
  margin: -35px 0px 0px 0px;
}
.elementor-1071 .elementor-element.elementor-element-7bdb59f {
  padding: 0% 0% 0% 0%;
}
.elementor-1071 .elementor-element.elementor-element-98b9aa6 {
  columns: 1;
  text-align: left;
  color: #333333;
  font-size: 15px;
}
.elementor-1071
  .elementor-element.elementor-element-87cbb29
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(8px / 2);
}
.elementor-1071
  .elementor-element.elementor-element-87cbb29
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(8px / 2);
}
.elementor-1071
  .elementor-element.elementor-element-87cbb29
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(8px / 2);
  margin-left: calc(8px / 2);
}
.elementor-1071
  .elementor-element.elementor-element-87cbb29
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-8px / 2);
  margin-left: calc(-8px / 2);
}
body.rtl
  .elementor-1071
  .elementor-element.elementor-element-87cbb29
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-8px / 2);
}
body:not(.rtl)
  .elementor-1071
  .elementor-element.elementor-element-87cbb29
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-8px / 2);
}
.elementor-1071
  .elementor-element.elementor-element-87cbb29
  .elementor-icon-list-icon
  i {
  color: #da251e;
  transition: color 0.3s;
}
.elementor-1071
  .elementor-element.elementor-element-87cbb29
  .elementor-icon-list-icon
  svg {
  fill: #da251e;
  transition: fill 0.3s;
}
.elementor-1071
  .elementor-element.elementor-element-87cbb29
  .elementor-icon-list-item:hover
  .elementor-icon-list-icon
  i {
  color: #002e5b;
}
.elementor-1071
  .elementor-element.elementor-element-87cbb29
  .elementor-icon-list-item:hover
  .elementor-icon-list-icon
  svg {
  fill: #002e5b;
}
.elementor-1071 .elementor-element.elementor-element-87cbb29 {
  --e-icon-list-icon-size: 20px;
  --icon-vertical-offset: 0px;
}
.elementor-1071
  .elementor-element.elementor-element-87cbb29
  .elementor-icon-list-text {
  color: #333333;
  transition: color 0.3s;
}
.elementor-1071
  .elementor-element.elementor-element-119e2ef
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(8px / 2);
}
.elementor-1071
  .elementor-element.elementor-element-119e2ef
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(8px / 2);
}
.elementor-1071
  .elementor-element.elementor-element-119e2ef
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(8px / 2);
  margin-left: calc(8px / 2);
}
.elementor-1071
  .elementor-element.elementor-element-119e2ef
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-8px / 2);
  margin-left: calc(-8px / 2);
}
body.rtl
  .elementor-1071
  .elementor-element.elementor-element-119e2ef
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-8px / 2);
}
body:not(.rtl)
  .elementor-1071
  .elementor-element.elementor-element-119e2ef
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-8px / 2);
}
.elementor-1071
  .elementor-element.elementor-element-119e2ef
  .elementor-icon-list-icon
  i {
  color: #da251e;
  transition: color 0.3s;
}
.elementor-1071
  .elementor-element.elementor-element-119e2ef
  .elementor-icon-list-icon
  svg {
  fill: #da251e;
  transition: fill 0.3s;
}
.elementor-1071
  .elementor-element.elementor-element-119e2ef
  .elementor-icon-list-item:hover
  .elementor-icon-list-icon
  i {
  color: #002e5b;
}
.elementor-1071
  .elementor-element.elementor-element-119e2ef
  .elementor-icon-list-item:hover
  .elementor-icon-list-icon
  svg {
  fill: #002e5b;
}
.elementor-1071 .elementor-element.elementor-element-119e2ef {
  --e-icon-list-icon-size: 20px;
  --icon-vertical-offset: 0px;
}
.elementor-1071
  .elementor-element.elementor-element-119e2ef
  .elementor-icon-list-text {
  color: #333333;
  transition: color 0.3s;
}
.elementor-1071
  .elementor-element.elementor-element-c93a7bc
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(8px / 2);
}
.elementor-1071
  .elementor-element.elementor-element-c93a7bc
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(8px / 2);
}
.elementor-1071
  .elementor-element.elementor-element-c93a7bc
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(8px / 2);
  margin-left: calc(8px / 2);
}
.elementor-1071
  .elementor-element.elementor-element-c93a7bc
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-8px / 2);
  margin-left: calc(-8px / 2);
}
body.rtl
  .elementor-1071
  .elementor-element.elementor-element-c93a7bc
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-8px / 2);
}
body:not(.rtl)
  .elementor-1071
  .elementor-element.elementor-element-c93a7bc
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-8px / 2);
}
.elementor-1071
  .elementor-element.elementor-element-c93a7bc
  .elementor-icon-list-icon
  i {
  color: #da251e;
  transition: color 0.3s;
}
.elementor-1071
  .elementor-element.elementor-element-c93a7bc
  .elementor-icon-list-icon
  svg {
  fill: #da251e;
  transition: fill 0.3s;
}
.elementor-1071
  .elementor-element.elementor-element-c93a7bc
  .elementor-icon-list-item:hover
  .elementor-icon-list-icon
  i {
  color: #002e5b;
}
.elementor-1071
  .elementor-element.elementor-element-c93a7bc
  .elementor-icon-list-item:hover
  .elementor-icon-list-icon
  svg {
  fill: #002e5b;
}
.elementor-1071 .elementor-element.elementor-element-c93a7bc {
  --e-icon-list-icon-size: 20px;
  --icon-vertical-offset: 0px;
}
.elementor-1071
  .elementor-element.elementor-element-c93a7bc
  .elementor-icon-list-text {
  color: #333333;
  transition: color 0.3s;
}
.elementor-1071
  .elementor-element.elementor-element-8084328:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1071
  .elementor-element.elementor-element-8084328
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../images/IMG_20190131_100214-scaled-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-1071
  .elementor-element.elementor-element-8084328
  > .elementor-background-overlay {
  background-color: #563A9C;
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1071 .elementor-element.elementor-element-8084328,
.elementor-1071
  .elementor-element.elementor-element-8084328
  > .elementor-background-overlay {
  border-radius: 0px 0px 0px 0px;
}
.elementor-1071 .elementor-element.elementor-element-8084328 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-1071
  .elementor-element.elementor-element-8086665
  .ce_cta__content__title {
  font-size: 20px;
  line-height: 16px;
  color: #ffffff;
}
.elementor-1071
  .elementor-element.elementor-element-8086665
  .ce_cta__content__subtitle {
  color: #d5d2d2;
}
.elementor-1071
  .elementor-element.elementor-element-8086665
  .ce_cta__content__text {
  color: #ffffff;
}
.elementor-1071
  .elementor-element.elementor-element-8086665
  .ce_cta__action
  .button {
  background-color: #e31e25;
  color: #002e5b;
}
.elementor-1071
  .elementor-element.elementor-element-8086665
  .ce_cta__action
  .button:hover {
  background-color: #002e5b;
  color: #ffffff;
  border-color: #002e5b;
}
.elementor-1071
  .elementor-element.elementor-element-1ba5670:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1071
  .elementor-element.elementor-element-1ba5670
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f2f2f2;
}
.elementor-1071 .elementor-element.elementor-element-1ba5670,
.elementor-1071
  .elementor-element.elementor-element-1ba5670
  > .elementor-background-overlay {
  border-radius: 0px 0px 0px 0px;
}
.elementor-1071 .elementor-element.elementor-element-1ba5670 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 44px 0px 44px 0px;
}
.elementor-1071
  .elementor-element.elementor-element-1ba5670
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1071
  .elementor-element.elementor-element-5c0949a:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1071
  .elementor-element.elementor-element-5c0949a
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ded69e;
}
.elementor-1071 .elementor-element.elementor-element-5c0949a,
.elementor-1071
  .elementor-element.elementor-element-5c0949a
  > .elementor-background-overlay {
  border-radius: 0px 0px 0px 0px;
}
.elementor-1071 .elementor-element.elementor-element-5c0949a {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 36px;
  padding: 67px 0px 70px 0px;
}
.elementor-1071
  .elementor-element.elementor-element-5c0949a
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1071
  .elementor-element.elementor-element-80892cd
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-1071
  .elementor-element.elementor-element-808a302
  .consulting-custom-title {
  font-size: 36px;
}
.elementor-1071
  .elementor-element.elementor-element-808aa2d
  > .elementor-widget-container {
  margin: 15px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}
.elementor-1071
  .elementor-element.elementor-element-808aeb5:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1071
  .elementor-element.elementor-element-808aeb5
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../images/IMG_20190319_142119-scaled-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-1071
  .elementor-element.elementor-element-808aeb5
  > .elementor-background-overlay {
  background-color: #563A9C;
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1071 .elementor-element.elementor-element-808aeb5,
.elementor-1071
  .elementor-element.elementor-element-808aeb5
  > .elementor-background-overlay {
  border-radius: 0px 0px 0px 0px;
}
.elementor-1071 .elementor-element.elementor-element-808aeb5 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-1071
  .elementor-element.elementor-element-808c116
  .consulting-custom-title {
  font-size: 30px;
  line-height: 42px;
  color: #ffffff;
}
.elementor-1071
  .elementor-element.elementor-element-808dc7a
  .consulting-custom-title {
  font-size: 30px;
  line-height: 42px;
  color: #ffffff;
}
.elementor-1071
  .elementor-element.elementor-element-809069c:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1071
  .elementor-element.elementor-element-809069c
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f2f2f2;
}
.elementor-1071 .elementor-element.elementor-element-809069c,
.elementor-1071
  .elementor-element.elementor-element-809069c
  > .elementor-background-overlay {
  border-radius: 0px 0px 0px 0px;
}
.elementor-1071 .elementor-element.elementor-element-809069c {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: -60px;
  padding: 0px 0px 0px 0px;
}
.elementor-1071
  .elementor-element.elementor-element-809069c
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1071
  .elementor-element.elementor-element-809318e
  .consulting-custom-title {
  font-size: 15px;
  line-height: 24px;
  color: #222222;
}
.elementor-1071
  .elementor-element.elementor-element-8093b2f
  .consulting-custom-title {
  font-size: 15px;
  line-height: 24px;
  color: #222222;
}
.elementor-1071
  .elementor-element.elementor-element-8092020
  .consulting-custom-title {
  font-size: 15px;
  line-height: 24px;
  color: #222222;
}
.elementor-1071
  .elementor-element.elementor-element-3fdf69e
  .consulting-custom-title {
  font-size: 15px;
  line-height: 24px;
  color: #222222;
}
.elementor-1071
  .elementor-element.elementor-element-054b7be
  .consulting-custom-title {
  font-size: 15px;
  line-height: 24px;
  color: #222222;
}
.elementor-1071
  .elementor-element.elementor-element-c618da9
  .consulting-custom-title {
  font-size: 15px;
  line-height: 24px;
  color: #222222;
}
.elementor-1071
  .elementor-element.elementor-element-80928ec
  .consulting-custom-title {
  font-size: 15px;
  line-height: 24px;
  color: #222222;
}
.elementor-1071 .elementor-element.elementor-element-726d623,
.elementor-1071
  .elementor-element.elementor-element-726d623
  > .elementor-background-overlay {
  border-radius: 0px 0px 0px 0px;
}
.elementor-1071 .elementor-element.elementor-element-726d623 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-1071
  .elementor-element.elementor-element-726d623
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1071
  .elementor-element.elementor-element-eac0bb4
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-1071
  .elementor-element.elementor-element-c564831
  .ce_cta__content__title {
  font-size: 20px;
  line-height: 35px;
  color: #ffffff;
}
.elementor-1071
  .elementor-element.elementor-element-c564831
  .ce_cta__content__text {
  color: #ffffff;
}
.elementor-1071
  .elementor-element.elementor-element-c564831
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}
.elementor-1071
  .elementor-element.elementor-element-6f5a1cb8:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1071
  .elementor-element.elementor-element-6f5a1cb8
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../images/Picture7.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-1071
  .elementor-element.elementor-element-6f5a1cb8
  > .elementor-background-overlay {
  background-color: var(--e-global-color-primary);
  opacity: 0.83;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1071 .elementor-element.elementor-element-6f5a1cb8,
.elementor-1071
  .elementor-element.elementor-element-6f5a1cb8
  > .elementor-background-overlay {
  border-radius: 0px 0px 0px 0px;
}
.elementor-1071 .elementor-element.elementor-element-6f5a1cb8 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 30px 0px 30px 0px;
}
.elementor-1071
  .elementor-element.elementor-element-3941243b
  .consulting-custom-title {
  color: #ffffff;
}
.elementor-1071 .elementor-element.elementor-element-14b39b09 {
  --divider-border-style: double;
  --divider-color: var(--e-global-color-secondary);
  --divider-border-width: 5px;
}
.elementor-1071
  .elementor-element.elementor-element-14b39b09
  .elementor-divider-separator {
  width: 3%;
  margin: 0 auto;
  margin-center: 0;
}
.elementor-1071
  .elementor-element.elementor-element-14b39b09
  .elementor-divider {
  text-align: center;
  padding-block-start: 15px;
  padding-block-end: 15px;
}
.elementor-1071
  .elementor-element.elementor-element-14b39b09
  > .elementor-widget-container {
  margin: -20px 0px 0px 0px;
  border-radius: 100px 100px 100px 100px;
}
.elementor-1071
  .elementor-element.elementor-element-2faf9ece
  > .elementor-element-populated,
.elementor-1071
  .elementor-element.elementor-element-2faf9ece
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-1071
  .elementor-element.elementor-element-2faf9ece
  > .elementor-background-slideshow {
  border-radius: 0px 0px 0px 0px;
}
.elementor-1071
  .elementor-element.elementor-element-2faf9ece
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-1071
  .elementor-element.elementor-element-2faf9ece
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1071
  .elementor-element.elementor-element-525ad002
  > .elementor-element-populated,
.elementor-1071
  .elementor-element.elementor-element-525ad002
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-1071
  .elementor-element.elementor-element-525ad002
  > .elementor-background-slideshow {
  border-radius: 0px 0px 0px 0px;
}
.elementor-1071
  .elementor-element.elementor-element-525ad002
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-1071
  .elementor-element.elementor-element-525ad002
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1071
  .elementor-element.elementor-element-7d143632
  > .elementor-element-populated,
.elementor-1071
  .elementor-element.elementor-element-7d143632
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-1071
  .elementor-element.elementor-element-7d143632
  > .elementor-background-slideshow {
  border-radius: 0px 0px 0px 0px;
}
.elementor-1071
  .elementor-element.elementor-element-7d143632
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-1071
  .elementor-element.elementor-element-7d143632
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1071
  .elementor-element.elementor-element-4e6a139b
  > .elementor-element-populated,
.elementor-1071
  .elementor-element.elementor-element-4e6a139b
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-1071
  .elementor-element.elementor-element-4e6a139b
  > .elementor-background-slideshow {
  border-radius: 0px 0px 0px 0px;
}
.elementor-1071
  .elementor-element.elementor-element-4e6a139b
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-1071
  .elementor-element.elementor-element-4e6a139b
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1071
  .elementor-element.elementor-element-9ae2ec7
  > .elementor-element-populated,
.elementor-1071
  .elementor-element.elementor-element-9ae2ec7
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-1071
  .elementor-element.elementor-element-9ae2ec7
  > .elementor-background-slideshow {
  border-radius: 0px 0px 0px 0px;
}
.elementor-1071
  .elementor-element.elementor-element-9ae2ec7
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-1071
  .elementor-element.elementor-element-9ae2ec7
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1071 .elementor-element.elementor-element-6918ed2a {
  padding: 30px 0px 30px 0px;
}
.elementor-1071
  .elementor-element.elementor-element-5938b56
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-1071
  .elementor-element.elementor-element-1615396e
  .consulting-custom-title {
  color: #db2017;
}
.elementor-1071 .elementor-element.elementor-element-4101cf0f {
  --divider-border-style: double;
  --divider-color: var(--e-global-color-secondary);
  --divider-border-width: 5px;
}
.elementor-1071
  .elementor-element.elementor-element-4101cf0f
  .elementor-divider-separator {
  width: 3%;
  margin: 0 auto;
  margin-center: 0;
}
.elementor-1071
  .elementor-element.elementor-element-4101cf0f
  .elementor-divider {
  text-align: center;
  padding-block-start: 15px;
  padding-block-end: 15px;
}
.elementor-1071
  .elementor-element.elementor-element-4101cf0f
  > .elementor-widget-container {
  margin: -20px 0px 0px 0px;
}
.elementor-1071 .elementor-element.elementor-element-3df3861a {
  --e-image-carousel-slides-to-show: 5;
}
.elementor-1071
  .elementor-element.elementor-element-3df3861a
  .elementor-swiper-button.elementor-swiper-button-prev,
.elementor-1071
  .elementor-element.elementor-element-3df3861a
  .elementor-swiper-button.elementor-swiper-button-next {
  font-size: 60px;
  color: #002e5b;
}
.elementor-1071
  .elementor-element.elementor-element-3df3861a
  .elementor-swiper-button.elementor-swiper-button-prev
  svg,
.elementor-1071
  .elementor-element.elementor-element-3df3861a
  .elementor-swiper-button.elementor-swiper-button-next
  svg {
  fill: #002e5b;
}
.elementor-1071
  .elementor-element.elementor-element-3df3861a
  .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #002e5b;
}
.elementor-1071
  .elementor-element.elementor-element-3df3861a
  .elementor-image-carousel-wrapper
  .elementor-image-carousel
  .swiper-slide-image {
  border-radius: 0px 10px 10px 0px;
}
@media (max-width: 1024px) {
  .elementor-1071
    .elementor-element.elementor-element-9ae7fd5
    > .elementor-widget-container {
    padding: 150px 0px 150px 0px;
  }
}
@media (max-width: 767px) {
  .elementor-1071
    .elementor-element.elementor-element-9ae7fd5
    > .elementor-widget-container {
    padding: 300px 0px 350px 0px;
  }
  .elementor-1071 .elementor-element.elementor-element-3109c8f {
    width: 100%;
  }
  .elementor-1071 .elementor-element.elementor-element-b724020 {
    width: 100%;
  }
  .elementor-1071 .elementor-element.elementor-element-804bbeb {
    width: 100%;
  }
  .elementor-1071 .elementor-element.elementor-element-55afd5e {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .elementor-1071 .elementor-element.elementor-element-8066b7b {
    width: 100%;
  }
  .elementor-1071 .elementor-element.elementor-element-8067466 {
    width: 100%;
  }
  .elementor-1071 .elementor-element.elementor-element-8068086 {
    width: 33%;
  }
  .elementor-1071 .elementor-element.elementor-element-8068954 {
    width: 66%;
  }
  .elementor-1071 .elementor-element.elementor-element-460b155 {
    width: 100%;
  }
  .elementor-1071 .elementor-element.elementor-element-7b48a73 {
    width: 46.529%;
  }
  .elementor-1071 .elementor-element.elementor-element-3958ed5 {
    width: 52.471%;
  }
  .elementor-1071 .elementor-element.elementor-element-8069355 {
    width: 100%;
  }
  .elementor-1071 .elementor-element.elementor-element-8069be6 {
    width: 50%;
  }
  .elementor-1071 .elementor-element.elementor-element-806a300 {
    width: 50%;
  }
  .elementor-1071 .elementor-element.elementor-element-4c5faed {
    width: 100%;
  }
  .elementor-1071 .elementor-element.elementor-element-16bd37b {
    width: 50%;
  }
  .elementor-1071 .elementor-element.elementor-element-7ac8d7f {
    width: 50%;
  }
  .elementor-1071 .elementor-element.elementor-element-806e59e {
    width: 100%;
  }
  .elementor-1071 .elementor-element.elementor-element-806f3c6 {
    width: 100%;
  }
  .elementor-1071 .elementor-element.elementor-element-eb06619 {
    width: 50%;
  }
  .elementor-1071 .elementor-element.elementor-element-d89a40c {
    width: 50%;
  }
  .elementor-1071 .elementor-element.elementor-element-a18576e {
    width: 50%;
  }
  .elementor-1071 .elementor-element.elementor-element-f59998f {
    width: 50%;
  }
  .elementor-1071 .elementor-element.elementor-element-82dcf1b {
    width: 50%;
  }
  .elementor-1071 .elementor-element.elementor-element-e933937 {
    width: 50%;
  }
  .elementor-1071 .elementor-element.elementor-element-d1f4902 {
    width: 50%;
  }
  .elementor-1071 .elementor-element.elementor-element-db9a295 {
    width: 50%;
  }
  .elementor-1071 .elementor-element.elementor-element-c7ab5e2 {
    width: 100%;
  }
  .elementor-1071 .elementor-element.elementor-element-8084c4e {
    width: 100%;
  }
  .elementor-1071 .elementor-element.elementor-element-8085b6d {
    width: 8%;
  }
  .elementor-1071 .elementor-element.elementor-element-80860e9 {
    width: 83%;
  }
  .elementor-1071 .elementor-element.elementor-element-80885a8 {
    width: 8%;
  }
  .elementor-1071 .elementor-element.elementor-element-76e68c0 {
    width: 100%;
  }
  .elementor-1071 .elementor-element.elementor-element-b9c21eb {
    width: 100%;
  }
  .elementor-1071 .elementor-element.elementor-element-80892cd {
    width: 100%;
  }
  .elementor-1071 .elementor-element.elementor-element-8089ef5 {
    width: 70.641%;
  }
  .elementor-1071 .elementor-element.elementor-element-808a532 {
    width: 28.359%;
  }
  .elementor-1071 .elementor-element.elementor-element-808bb15 {
    width: 49.624%;
  }
  .elementor-1071 .elementor-element.elementor-element-808d78a {
    width: 50.376%;
  }
  .elementor-1071 .elementor-element.elementor-element-8090d1e {
    width: 100%;
  }
  .elementor-1071 .elementor-element.elementor-element-8092c7a {
    width: 25%;
  }
  .elementor-1071 .elementor-element.elementor-element-8093524 {
    width: 25%;
  }
  .elementor-1071 .elementor-element.elementor-element-8091abe {
    width: 25%;
  }
  .elementor-1071 .elementor-element.elementor-element-80923c7 {
    width: 25%;
  }
  .elementor-1071 .elementor-element.elementor-element-eac0bb4 {
    width: 100%;
  }
  .elementor-1071 .elementor-element.elementor-element-50debc3 {
    width: 100%;
  }
  .elementor-1071 .elementor-element.elementor-element-5938b56 {
    width: 100%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-1071 .elementor-element.elementor-element-8066b7b {
    width: 100%;
  }
  .elementor-1071 .elementor-element.elementor-element-8067466 {
    width: 100%;
  }
  .elementor-1071 .elementor-element.elementor-element-8068086 {
    width: 100%;
  }
  .elementor-1071 .elementor-element.elementor-element-8068954 {
    width: 100%;
  }
  .elementor-1071 .elementor-element.elementor-element-460b155 {
    width: 100%;
  }
  .elementor-1071 .elementor-element.elementor-element-7b48a73 {
    width: 100%;
  }
  .elementor-1071 .elementor-element.elementor-element-3958ed5 {
    width: 58%;
  }
  .elementor-1071 .elementor-element.elementor-element-3109c8f {
    width: 50%;
  }
  .elementor-1071 .elementor-element.elementor-element-b724020 {
    width: 50%;
  }
  .elementor-1071 .elementor-element.elementor-element-804bbeb {
    width: 50%;
  }
  .elementor-1071 .elementor-element.elementor-element-55afd5e {
    width: 50%;
  }
  .elementor-1071 .elementor-element.elementor-element-8069355 {
    width: 100%;
  }
  .elementor-1071 .elementor-element.elementor-element-8069be6 {
    width: 50%;
  }
  .elementor-1071 .elementor-element.elementor-element-806a300 {
    width: 50%;
  }
  .elementor-1071 .elementor-element.elementor-element-4c5faed {
    width: 100%;
  }
  .elementor-1071 .elementor-element.elementor-element-16bd37b {
    width: 50%;
  }
  .elementor-1071 .elementor-element.elementor-element-7ac8d7f {
    width: 50%;
  }
  .elementor-1071 .elementor-element.elementor-element-ff2a4d8 {
    width: 33%;
  }
  .elementor-1071 .elementor-element.elementor-element-a26daa8 {
    width: 33%;
  }
  .elementor-1071 .elementor-element.elementor-element-3211d0c {
    width: 33%;
  }
  .elementor-1071 .elementor-element.elementor-element-806e59e {
    width: 100%;
  }
  .elementor-1071 .elementor-element.elementor-element-806f3c6 {
    width: 100%;
  }
  .elementor-1071 .elementor-element.elementor-element-eb06619 {
    width: 100%;
  }
  .elementor-1071 .elementor-element.elementor-element-d89a40c {
    width: 50%;
  }
  .elementor-1071 .elementor-element.elementor-element-a18576e {
    width: 50%;
  }
  .elementor-1071 .elementor-element.elementor-element-f59998f {
    width: 100%;
  }
  .elementor-1071 .elementor-element.elementor-element-c7ab5e2 {
    width: 100%;
  }
  .elementor-1071 .elementor-element.elementor-element-d2ddb58 {
    width: 66%;
  }
  .elementor-1071 .elementor-element.elementor-element-8084c4e {
    width: 100%;
  }
  .elementor-1071 .elementor-element.elementor-element-8085b6d {
    width: 8%;
  }
  .elementor-1071 .elementor-element.elementor-element-80860e9 {
    width: 83%;
  }
  .elementor-1071 .elementor-element.elementor-element-80885a8 {
    width: 8%;
  }
  .elementor-1071 .elementor-element.elementor-element-76e68c0 {
    width: 100%;
  }
  .elementor-1071 .elementor-element.elementor-element-b9c21eb {
    width: 100%;
  }
  .elementor-1071 .elementor-element.elementor-element-80892cd {
    width: 100%;
  }
  .elementor-1071 .elementor-element.elementor-element-8089ef5 {
    width: 66%;
  }
  .elementor-1071 .elementor-element.elementor-element-808a532 {
    width: 33%;
  }
  .elementor-1071 .elementor-element.elementor-element-808bb15 {
    width: 50%;
  }
  .elementor-1071 .elementor-element.elementor-element-808d78a {
    width: 50%;
  }
  .elementor-1071 .elementor-element.elementor-element-8090d1e {
    width: 100%;
  }
  .elementor-1071 .elementor-element.elementor-element-8092c7a {
    width: 50%;
  }
  .elementor-1071 .elementor-element.elementor-element-8093524 {
    width: 50%;
  }
  .elementor-1071 .elementor-element.elementor-element-8091abe {
    width: 50%;
  }
  .elementor-1071 .elementor-element.elementor-element-80923c7 {
    width: 50%;
  }
  .elementor-1071 .elementor-element.elementor-element-eac0bb4 {
    width: 100%;
  }
  .elementor-1071 .elementor-element.elementor-element-50debc3 {
    width: 100%;
  }
  .elementor-1071 .elementor-element.elementor-element-2faf9ece {
    width: 50%;
  }
  .elementor-1071 .elementor-element.elementor-element-525ad002 {
    width: 50%;
  }
  .elementor-1071 .elementor-element.elementor-element-7d143632 {
    width: 50%;
  }
  .elementor-1071 .elementor-element.elementor-element-4e6a139b {
    width: 50%;
  }
  .elementor-1071 .elementor-element.elementor-element-9ae2ec7 {
    width: 50%;
  }
  .elementor-1071 .elementor-element.elementor-element-5938b56 {
    width: 100%;
  }
}
@media (min-width: 1025px) {
  .elementor-1071
    .elementor-element.elementor-element-6f5a1cb8:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-1071
    .elementor-element.elementor-element-6f5a1cb8
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-attachment: fixed;
  }
}
